<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{site.url}}/css/bootstrap.css" rel="stylesheet">
        <link href="{{site.url}}/css/syntax.css" rel="stylesheet">
        <script type="text/javascript" src="{{site.url}}/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/collapse.js"></script>
        <title>itsbarakyo | {{page.title}}</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-links">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="glyphicon glyphicon-chevron-down white"></span>
                    </button>
                    <h1>itsbarakyo</h1>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="mobile-links">
                <ul class="nav navbar visible-xs">
                    <li>
                        <a href="{{site.url}}/" class="btn btn-success btn-lg btn-block">HOME</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/personal/" class="btn btn-info btn-lg btn-block">PERSONAL</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/likes/" class="btn btn-like btn-lg btn-block">LIKES</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/notes/" class="btn btn-warning btn-lg btn-block">NOTES</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/projects/" class="btn btn-danger btn-lg btn-block">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar navbar-fixed-top hidden-xs" id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 hidden-xs">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-lg">
                                <a href="{{site.url}}" class="btn btn-success">HOME</a>
                            </div>
                            <div class="btn-group btn-group-lg">
                                <a href="{{site.url}}/personal/" class="btn btn-info">PERSONAL</a>
                            </div>
                            <div class="btn-group btn-group-lg">
                                <a href="{{site.url}}/likes/" class="btn btn-like">LIKES</a>
                            </div>
                            <div class="btn-group btn-group-lg">
                                <a href="{{site.url}}/notes/" class="btn btn-warning">NOTES</a>
                            </div>
                            <div class="btn-group btn-group-lg">
                                <a href="{{site.url}}/projects/" class="btn btn-danger">PROJECTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>